@import url('https://fonts.googleapis.com/css2?family=Moul&family=Rubik:ital,wght@0,300..900;1,300..900&family=Siemreap&display=swap');

.Bg-top1{ width: 100% ;;margin-top: 0px; align-content: center; margin-bottom: 1px;

}



body{
    background-image: url(/logo\ Grk\ PNG\ NEW.png);
    height: auto; width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-blend-mode: overlay;
    background-attachment: fixed;
}
body{
    background-color: rgb(1, 1, 65); width: auto; height: auto;
}

.Text-4{
    color: white; background-color: red; width: auto; padding: 1%; margin-top: 0vw;
    font-family:  "Moul", serif,"Rubik", sans-serif; font-size: 3vw ; 
    text-align: center;
}
.Pic-pf-1{ display: flex; width: 30%; margin: auto; justify-content: center; margin-top: ;}



.table-1 table, td,th {  border-collapse: collapse; padding: 0.7vw; 
 border: 2px solid white; text-align: left; font-family: "moul", "siemreap"; margin-left: 50vw; margin-right: 20vw;
box-shadow: 0 0 5px white;}

table{ border-collapse: collapse; margin-left: 8vw; margin-right: 5vw; background-color: rgb(1, 60, 1); margin-top: 1vw; }
.table-1 th { color: white  ; min-width: 30vw } 

.table-1 td{ color:white; font-family: "Siemreap"; min-width: 50vw}

.note-1{ color: white; font-family: "Siemreap", sans-serif; font-size: 1.5vw; border: 1px red;border-radius: 05px;
padding: 1%; background-color: red; margin-left: 8%; margin-right: 3%; text-justify: auto;
}


 
.footer-1{ color: white; font-family:"Siemreap", sans-serif; font-size: 1.2vw; text-align: center ; line-height: 1%; }
.footer-2{color: white; font-family:"Siemreap", sans-serif; font-size: 1.2vw ; text-align: center  ; line-height: 1%;}

a {color: white; font-size: medium; margin-left: auto; margin-right: auto;width: auto; height: auto;}
p{color: aquamarine;}
.ID1{
    color: black;
}
a:link, a:active{ background-color: red; opacity: 70%; align-items: center; 
    color: white; line-height: 1.5vw ; padding: 1px;
}
.all-right{color: white; text-align: center; font-family:"siemreap"; background-color: cadetblue;
font-size: 2.5vw; padding: px; height: 4vw;}




















